// COLOR PALLETE
$highlight-color: #eac60e;
$light-color: #fff;
$medium-color: #99979b;
$dark-color: #302d3b;

// TYPOGRAPHY
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Montserrat Black', sans-serif;

$base-font-size: 16px;
$base-line-height: 1.2rem;

$small-font-size: .8rem;
$small-line-height: 1rem;

$large-font-size: 2rem;
$large-line-height: 2.2rem;

$largest-font-size: 3rem;
$largest-line-height: 3.2rem;

// BREAKPOINTS
$mobile: 374px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1920px;
