.article {
  margin: 0 auto 60px;
  padding: 0 20px;
  max-width: 780px;

  h2 {
    margin-top: 40px;
    text-transform: uppercase;
    line-height: $small-line-height;
    font-family: $header-font-family;
    font-size: $small-font-size;

    @media screen and (min-width: $tablet) {
      line-height: $medium-line-height;
      font-size: $medium-font-size;
    }
  }

  p {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  }

  img {
    &.left {
      padding: 20px 0;
      width: 100%;
      height: auto;

      @media screen and (min-width: $tablet) {
        float: left;
        padding: 0 20px 20px 0;
        width: auto;
        max-height: 300px;
      }
    }

    &.right {
      padding: 20px 0;
      width: 100%;
      height: auto;

      @media screen and (min-width: $tablet) {
        float: right;
        padding: 0 0 20px 20px;
        width: auto;
        max-height: 300px;
      }
    }
  }

  code {
    color: $code-color;
    font-family: 'Consolas', monospace;
  }

  pre {
    margin: 20px 0;
    max-width: 100%;
    overflow: scroll;
  }


  a {
    display: inline-block;
    background: transparentize($highlight-color, .6);
    padding: 0 5px;

    &:hover {
      background: transparentize($highlight-color, .3);
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.article__comments {
  margin-top: 40px;
}
