@import '../variables';

.button {
  display: inline-block;
  transition: background .3s;
  margin: 0 15px;
  border: 1px solid $dark-color;
  border-radius: 30px;
  background: transparentize($highlight-color, .3);
  padding: 15px 30px;
  width: 200px;
  text-transform: uppercase;
  line-height: $small-line-height;
  color: $dark-color;
  font-size: $small-font-size;
  font-weight: 700;

  &:hover {
    background: $highlight-color;
  }
}
