@import '../variables';

.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $light-color;
  padding: 40px;

  &::before {
    position: absolute;
    top: 0;
    left: 20px;
    opacity: .1;
    z-index: 2;
    background: url('dist/images/london.jpg') no-repeat center center;
    background-size: cover;
    width: calc(100% - 40px);
    height: calc(100%);
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    background-color: $highlight-color;
    width: calc(100% - 40px);
    height: calc(100%);
    content: '';
  }

  @media screen and (min-width: $tablet) {
    height: 450px;
    padding: 0 20px;
  }
}

.contact__content {
  position: relative;
  max-width: 620px;
  z-index: 4;

  .button {
    margin-top: 20px;
  }

  span {
    color: $dark-color;
  }
}