@import '../variables';

.labs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  color: $dark-color;

  &::before {
    position: absolute;
    top: 0;
    left: 20px;
    opacity: .1;
    z-index: 2;
    background: url('dist/images/code.jpg') no-repeat center center;
    background-size: cover;
    width: calc(100% - 40px);
    height: calc(100%);
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    background-color: $light-color;
    width: calc(100% - 40px);
    height: calc(100%);
    content: '';
  }

  @media screen and (min-width: $tablet) {
    padding: 0 20px;
    height: 600px;
  }
}

.labs__content {
  position: relative;
  z-index: 4;
  max-width: 620px;
}

.labs__grid {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 4;
  margin: 0 auto;
  padding: 1em 0 4em;
  list-style: none;
  text-align: center;
  
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.labs__item {
  position: relative;
  margin: 10px 0;
  background: $dark-color;
  cursor: pointer;
  width: 100%;
  max-height: 360px;
  overflow: hidden;
  text-align: center;

  &:hover {
    .labs__title {
      transform: translate3d(0, 0, 0);
    }
    
    .labs__image {
      transform: translate3d(0, 0, 0);
      opacity: .5;
    }

    .labs__description {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      transition-delay: .05s;
      transition-duration: .35s;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 10px 1%;
    width: 31%;
  }
}

.labs__image {
  display: block;
  position: relative;
  transform: translate3d(-20px, 0, 0);
  transition: opacity .35s, transform .35s;
  opacity: .3;
  width: calc(100% + 50px);
  min-height: 100%;
  filter: grayscale(90%);
}

.labs__title {
  transform: translate3d(0, 20px, 0);
  transition: transform .35s;
  margin: 0;
  text-transform: uppercase;
}

.labs__description {
  transform: translate3d(0, 20px, 0);
  transition: opacity .2s, transform .35s;
  opacity: 0;
  margin: 0;
  color: $light-color;
}

.labs__caption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 0;
  width: 100%;
  height: 100%;
  text-align: left;
  color: $light-color;
  backface-visibility: hidden;

  & > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px 0;
    width: 100%;
    height: 25%;
    @media screen and (min-width: $tablet) {
      height: 60%;
    }
    @media screen and (min-width: $desktop) {
      height: 45%;
    }
    @media screen and (min-width: $large-desktop) {
      height: 35%;
    }
  }

  &::before,
  &::after {
    pointer-events: none;
  }
}

.labs__link {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-indent: 200%;
  white-space: nowrap;
}
