@import '../variables';

html {
  line-height: $base-line-height;
  color: $light-color;
  font-family: $body-font-family;
  font-size: $base-font-size;

  @media screen and (min-width: $tablet) {
    color: $dark-color;
  }
}

body {
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.only__desktop {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}
