@import '../variables';

html {
  line-height: $small-line-height;
  color: $dark-color;
  font-family: $body-font-family;
  font-size: $small-font-size;
  font-weight: 300;

  @media screen and (min-width: $tablet) {
    line-height: $base-line-height;
    font-size: $base-font-size;
  }
}

body {
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

a {
  transition: all .3s;
  text-decoration: none;
  color: $dark-color;
}

strong {
  font-weight: 700;
}

.only__desktop {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}
