@import '../variables';

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 15px;
  }
}

.social__link {
  display: inline-block;
  position: relative;
  transition: background .3s;
  border-radius: 50%;
  background: $dark-color;
  width: 36px;
  height: 36px;
}

.social__icon {
  position: absolute;
  width: 22px;
  height: 22px;
  fill: $light-color;

  &-github {
    top: 7px;
    left: 6px;
  }

  &-twitter {
    top: 7px;
    left: 7px;
  }

  &-linkedin {
    top: 6px;
    left: 8px;
  }
}
