.title {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, .85) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url('dist/images/blogbg.jpg'
  ) no-repeat center center;
  background-size: cover;
  height: 800px;
  text-align: center;
  padding-top: 120px;
}

.title__category {
  text-transform: uppercase;
  font-size: $small-font-size;
}

.title__heading {
  h1 {
    margin: 20px auto;
    width: 465px;
  }
}

.title__author {
  margin: 40px 0 10px;
  opacity: .4;
}