.heading {
  text-transform: uppercase;
  line-height: $medium-line-height;
  font-family: $header-font-family;
  font-size: $medium-font-size;

  @media screen and (min-width: $tablet) {
    line-height: $largest-line-height;
    font-size: $largest-font-size;
  }

  &-medium {
    line-height: $medium-line-height;
    font-size: $medium-font-size;
    margin: 0;
  }
}