.heading {
  text-transform: uppercase;
  line-height: $large-line-height;
  font-family: $header-font-family;
  font-size: $large-font-size;

  @media screen and (min-width: $desktop) {
    line-height: $largest-line-height;
    font-size: $largest-font-size;
  }
}