<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{attributes.title}}</title>
    <meta name="description" content="{{attributes.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:300,700" rel="stylesheet">
    <link inline href="dist/css/{{attributes.stylesheet}}" rel="stylesheet" type="text/css">
    <link rel="canonical" href="https://robbg.io" />
</head>