@import '../variables';

.header {
  display: flex;
  position: relative;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  flex-direction: column;

  &::before {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: .1;
    z-index: 2;
    background: url('../images/hero.jpg') no-repeat center center;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    content: '';
  }

  &::after {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: $dark-color;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    content: '';
  }

  @media screen and (min-width: $tablet) {
    margin: 0;
    background: none;
    text-align: left;
    flex-direction: row;

    &::before,
    &::after {
      display: none;
    }
  }
}

.header__left {
  position: relative;
  z-index: 3;
  padding: 20px;

  @media screen and (min-width: $tablet) {
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    width: 45%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      background: transparentize($dark-color, .1);
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}

.header__logo {
  position: relative;
  transform: rotate(-5deg);
  transition: transform .3s;
  z-index: 4;
  margin-top: 20px;
  width: 200px;
  fill: $light-color;

  .logo__dot {
    fill: $highlight-color;
  }

  @media screen and (min-width: $mobile) {
    margin-top: 40px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    width: 100px;

    &:hover {
      transform: rotate(0deg);
    }
  }
}

.header__right {
  display: flex;
  position: relative;
  z-index: 3;
  padding: 20px;
  flex-grow: 1;

  @media screen and (min-width: $mobile) {
    padding-top: 40px;
  }

  @media screen and (min-width: $tablet) {
    background-color: $highlight-color;
    padding-top: 20px;
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.header__content {
  margin: 0 auto;
  max-width: 200px;

  @media screen and (min-width: $mobile) {
    max-width: 300px;
  }

  @media screen and (min-width: $tablet) {
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: 450px;
  }

}

.header__title {
  text-transform: uppercase;
  line-height: $large-line-height;
  font-family: $header-font-family;
  font-size: $large-font-size;

  span {
    color: $highlight-color;
  }

  @media screen and (min-width: $tablet) {
    span {
      color: $light-color;
    }
  }

  @media screen and (min-width: $desktop) {
    line-height: $largest-line-height;
    font-size: $largest-font-size;
  }
}

.header__tagline {
  margin-top: 10px;
  line-height: $small-line-height;
  font-size: $small-font-size;

  @media screen and (min-width: $desktop) {
    line-height: $base-line-height;
    font-size: $base-font-size;
  }
}

.header__links {
  margin-top: 40px;
  text-transform: uppercase;

  a {
    padding-bottom: 1px;
    color: $light-color;
    font-weight: 700;

    &:hover {
      border-bottom: 2px solid $dark-color;
    }

    @media screen and (min-width: $tablet) {
      color: $dark-color;
    }
  }
}

.header__email {
  margin-top: 40px;
}
