@import '../variables';

* {
  box-sizing: border-box;
}

html {
  line-height: $base-line-height;
  color: $dark-color;
  font-family: $body-font-family;
  font-size: $base-font-size;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}