// COLOR PALLETE
$highlight-color: #EAC60E;
$light-color: #FFF;
$medium-color: #99979B;
$dark-color: #302D3B;
$code-color: #E0004B;

// TYPOGRAPHY
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Montserrat', sans-serif;

$base-font-size: 17px;
$base-line-height: 26px;

$small-font-size: 14px;
$small-line-height: 20px;

$medium-font-size: 24px;
$medium-line-height: 30px;

$large-font-size: 34px;
$large-line-height: 40px;

$largest-font-size: 42px;
$largest-line-height: 50px;

// BREAKPOINTS
$mobile: 376px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1920px;
